.logo--container {
    margin: 0 auto;
    padding: 0;
    width: 1200px;
    min-height: 200px;
    height: 220px;
    max-height: 240px;
  }
  
  .logo--container img {
    width: 140px;
  }
  
  .main {
    min-width: 1200px;
    width: 1200px;
    max-width: 1400px;
  }
  
  .hero--text-container {
    min-width: 600px;
    max-width: 800px;
    background-image: url(../assets/bg-hero-squiggle.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .hero--title {
    margin: 48px auto;
    max-width: 620px;
    font-size: 2.8rem;
  }
  
  .hero--text {
    max-width: 620px;
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
  
  .hero--ornament-container {
    margin: 48px 0 0 0;
  }
  
  .hero--ornament-container img {
    width: 42px;
  }
  
  .features--cards-container {
    margin-top: 240px;
    flex-direction: row;
  }
  
  .features--cards-container .f--card {
    flex-direction: column;
    align-items: flex-start;
    margin: 0 20px;
  }
  
  .t--1 {
    margin: 0 0 0 0;
  }
  
  .features--cards-container .f--2 {
    margin: 64px 0 0 0;
  }
  
  .f--card .f--card-description {
    margin: 0 0 0 0;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  
  .f--card .f--card-description > p {
    margin: 16px 0 0 0;
  }
  
  .f--card .f--card-description > h3 {
    font-size: 1.2rem;
  }
  
  .f--card .f--card-icon {
    margin-bottom: 48px;
    width: 180px;
    min-height: 184px;
    border-radius: 56px;
  }
  
  .pricing--container {
    margin: 260px 0 0 0;
  }
  
  .pricing--container > h2 {
    font-size: 2.4rem;
  }
  
  .pricing--container > p {
    max-width: 620px;
    font-size: 1.1rem;
    line-height: 1.8rem;
  }
  
  .p--card-container {
    margin: 64px 0 0 0;
    width: 1200px;
    min-height: 440px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .p--card {
    margin: 0 12px;
    max-height: 400px;
  }
  
  .p-card2 {
    min-height: 400px;
  }
  
  .form--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
  }
  
  .form {
    width: 800px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .form .formx {
    width: 650px;
    max-width: 800px;
  }
  
  .warn {
    visibility: hidden;
    min-width: 600px;
    max-width: 800px;
    margin: 12px 0 0 32px;
    text-align: left;
    font-size: 0.7rem;
    color: var(--red);
  }